# Pi-Gen Configuration
PI_GEN_RELEASE="Project Name v1.0.0"
IMG_NAME="projectName"
RELEASE="bookworm"
LOCALE_DEFAULT="en_US.UTF-8"
TARGET_HOSTNAME="project-hostname"
DISABLE_FIRST_BOOT_USER_RENAME=1
FIRST_USER_NAME="user"
FIRST_USER_PASS="password"
KEYBOARD_KEYMAP="us"
TIMEZONE_DEFAULT="America/New_York"
ENABLE_SSH=1
STAGE_LIST="stage0 stage1 stage2 stageAccessPoint stageApplication"
PRESERVE_CONTAINER=1
WPA_COUNTRY=US
# note this uses Unix style brackets to get pwd envs/paths due to our use of WSL
PIGEN_DOCKER_OPTS="--volume $(pwd)/stageAccessPoint:/pi-gen/stageAccessPoint --volume $(pwd)/stageApplication:/pi-gen/stageApplication"

# Raspberry Pi Access Point Wifi Configuration
WIFI_SSID=ProjectWiFi
WIFI_PASS=wifi-password-here

# Project Configuration
APP_NAME=project-name
APP_INSTALL_DIR="/var/www/${APP_NAME}"
APP_LOG_DIR="/var/log/pantry"
APP_ENV_DIR="/etc/pantry"
APP_RUN_DIR="/run/pantry"
APP_USER="${FIRST_USER_NAME}"
APP_GROUP=www-data

# Django Settings
DJANGO_DEPLOYMENT_SITE=YourCity
DJANGO_SECRET_KEY='change-this-to-a-secure-secret-key'
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS="${TARGET_HOSTNAME},*,127.0.0.1"
DJANGO_SQLITE_DIR=db
DJANGO_STATIC_ROOT=staticfiles
DJANGO_MEDIA_ROOT=media
DJANGO_LANGUAGE_CODE=en-us
DJANGO_TIME_ZONE=America/New_York
DJANGO_CSRF_TRUSTED_ORIGINS="https://${TARGET_HOSTNAME},http://${TARGET_HOSTNAME},http://localhost,http://127.0.0.1"
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false
DJANGO_SECURE_SSL_REDIRECT=false

# Email Settings
DJANGO_EMAIL_HOST=localhost
DJANGO_EMAIL_PORT=25
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=false
DJANGO_SERVER_EMAIL=root@localhost
DJANGO_DEFAULT_FROM_EMAIL=webmaster@localhost
DJANGO_ADMIN_USERNAME=
DJANGO_ADMIN_PASSWORD=


# Backup_DB Settings
DJANGO_BACKUP_PASSWORD=change-this-backup-password
BACKUP_PASSWORD=${DJANGO_BACKUP_PASSWORD}

# Gunicorn Settings
SHOP_GUNICORN_WORKERS=3
SHOP_GUNICORN_TIMEOUT=120
SHOP_GUNICORN_LOG_LEVEL=info
SHOP_GUNICORN_MAX_REQUESTS=1000
SHOP_GUNICORN_MAX_REQUESTS_JITTER=100
