[Unit]
Description=Pantry WiFi Hotspot Setup
After=network.target NetworkManager.service NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service
Before=dnsmasq.service pantry.service

[Service]
Type=oneshot
Environment="APP_ENV_DIR=${APP_ENV_DIR}"
ExecStart=/usr/local/bin/pantry-wifi-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
